{
    "extends": [
        "eslint:recommended",
        "google",
        "plugin:import/errors",
        "plugin:import/warnings"],
    "plugins": [
        "react"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "parser": "babel-eslint",
    "env": {
        "mocha": true,
        "es6": true,
        "browser": true,
        "node": true,
        "jquery": true
    },
    "rules": {
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "comma-dangle": [
            "error",
            "never"
        ],
        "max-len": ["error", {
            "ignoreComments": true,
            "ignoreTemplateLiterals": true,
            "ignoreTrailingComments": true,
            "ignoreUrls": true
        }],/*
        "no-console":1,
        "no-undef": 1,*/
        "new-cap": ["error", {
            "properties": false
        }],
        "require-jsdoc": 0
        //    "require-jsdoc": [
        //      "error",
        //      {
        //        "require": {
        //          "FunctionDeclaration": true,
        //          "MethodDefinition": true,
        //          "ClassDeclaration": true
        //        }
        //      }
        //    ],
        //    "valid-jsdoc": [
        //      "error",
        //      {
        //        "requireReturnDescription": true,
        //        "requireParamDescription": true,
        //        "requireReturnType": true,
        //        "prefer": {
        //          "arg": "param",
        //          "argument": "param",
        //          "class": "constructor",
        //          "return": "returns",
        //          "virtual": "abstract"
        //        }
        //      }
        //    ]
    }
}
