@media only screen and (max-width : 840px) {
    .btn {
        width: 100% !important;
        margin: 0px !important;
    }
    .input {
        width: 100% !important;
    }
}

.btn {
    margin-left: 5px;
}
